body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-top: 10px;
    font-size: 24px;
}

.content-1 {
    display: flex;
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.text {
    width: 350px;
} 

.title {
    font-size: 32px;
}

.signup {
    align-self: flex-start;
}
