@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    margin-left: 80px;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}

.header,
.logo,
.title,
.signup,
.call-title,
.final-signup,
.footer {
    color: #F9FAF8;
}

.header,
.content-1,
.placeholder,
.content-4,
.content-3,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-content,
.info,
.content-2,
.img-container,
.content-3,
.final-container {
    display: flex;
    flex-direction: column;
}




.header {
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 40px;
}

.logo {
    margin-top: 10px;
    margin-right: 400px;
    font-size: 24px;
    font-weight: 900;
}

.whole-content {
    flex: 1;
}


.content-1 {
    padding: 50px;
    padding-bottom: 120px;
    background-color: #1F2937;
}

.info {
    width: 300px;
    gap: 10px;
    margin-right: 190px;
}

.text {
    width: 350px;
    font-size: 18px;
    color: #E5E7EB;
} 

.title {
    font-size: 48px;
    font-weight: 900;
}

.signup {
    align-self: flex-start;
    padding: 8px 24px;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 700;
}

.placeholder {
    width: 480px;
    height: 180px;
    padding: 30px;
    background-color: #71797E;
    font-size: 18px;
    color: #E5E7EB;
}


.content-2 {
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    padding: 40px;
}

.second-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.box-text {
    display: flex;
    gap: 50px;
}

.img-container {
    gap: 10px;
}

.box {
    width: 200px;
    height: 200px;
    border: 5px solid #1E90FF;
}

.img-text {
    width: 200px;
    font-size: 18px;
    color: #36454F;
    margin-left: 10px;
    text-align: center;
}

.content-3 {
    padding: 120px;
    gap: 10px;
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    width: 800px;
}

.signature {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    margin-left: 500px;
}

.content-4 {
    padding: 80px 50px;
}

.wide-container {
    width: 800px;
    height: 100px;
    padding: 20px;
    background-color: #1E90FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-title {
    font-size: 22px;
    font-weight: 700;
}

.final-container {
    width: 410px;
}

.final-text {
    color: #E5E7EB;
    align-self: center;
    font-size: 16px;
}

.final-signup {
    align-self: center;
    background-color: #1E90FF;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 15px;
    border: 2px solid white;
}

.footer {
    background-color: #1F2937;
    padding: 40px;
    font-size: 18px;
}